/*** Layout ***/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    background: #e6e6e6;
}

#header {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#logo, #menu {
    padding: 10px;
}

#principal {
    background: white;
    width: 920px;
    margin: 0 auto;
}

#post {
    width: 660px;
    background: orange;
    float: left;
}

#lateral {
    width: 240px;
    background: orange;
    float: right;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}

/*** Menu ***/

a {
    text-decoration: none;
    padding: 8px 12px;
}

a:visited, a:link {
    color: white;
}

a:hover {
    color: #f7b600;
    background: white;
}

/*** Formatação em geral ***/

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.white {
    color: white;
}